@page
@model Learning.Razor.Pages.Forms.ComplexRequestFormModel
@{
    ViewData["Title"] = "ComplexRequestForm";
}

<h1>ComplexRequestForm</h1>
<input type="text" class="form-control" name="FormUser.Email">
